*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
main{
    width: 100%;
}
/* uper section --start-- */
section div abbr{
    margin-top: 2px !important;
}
.uperRight{
    line-height: none;
}
table{
    float: right;
    display: block;
    font-size: 8px;
    padding: 10px 20px 10px 15px;
    background-color: rgb(255 255 255 / 75%);
}
table tbody tr td{
    font-size: 12px;
}
table tbody tr:nth-child(2) > td:nth-child(3){
    font-size: 18px;
    color: #862B0D;
}
table tbody tr > td:nth-child(1){
    padding-right: 5px;
}
table tbody tr:nth-child(1) > td{
    font-size: 17px !important;
}
table tbody tr:nth-child(2) > td:nth-child(1){
    font-weight: 500;
    font-size: 20px;
}
/* uper section --end-- */

/* social-link section --start-- */
.activeOn{
    background-color: rgb(29, 29, 29);
}
.activeOn sup{
    margin-left: -5px;
    margin-top: -5px;
    font-size: 10px;
}
.activeOn sup i{
    border-radius: 50%;
    border: 1px solid rgb(107, 103, 103);
}
#container{
    gap: 50px;
    width: 92%;
    margin-top: 50px;
    grid-template-rows: repeat(5, 50px);
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr)) ;
}
#socialLink #container div a i {
    font-size: 50px;
}
#socialLink #container div a i:hover{
    font-size: 50px;
}
footer div h3{
    font-size: 11px;
}
/* social-link section --end-- */

@media only screen and (max-width: 460px) {
    table{
        width: 100%;
        /* margin: 20px; */
        display: flex;
        margin-right: 10px;
    }
    table tbody tr td{
        font-size: 15px;
        font-weight: 500;
    }
    table tbody tr:nth-child(1) > td{
        font-size: 12px;
        font-weight:600;
        font-family: 'Atma', cursive;
    }
    .picture{
        width: 100px;
        height: 120px;
    }
    .detailsBtn{
        display: flex;
        outline: none;
        color: white;
        padding: 2px 16px;
        background-color: black;
    }
    section div a{
        margin-top: 2px;
        font-size: 15px;
        font-weight: 400;
    }
    .fa-terminal{
        margin-left: 5px;
    }
    .uper-left{
        width: 35%;
        margin-left: 5px;
    }
    .uperRight{
        width: 75%;
        line-height: 18px;
        margin-left: 10px;
        /* overflow: auto; */
    }
}