/* preloader section -- start -- */
.loader_bg{
    top: 0;
    left: 0;
    position: fixed;
    z-index: 999999;
    background: #0a0a0aef;
    width: 100%;
    height: 100%;
}
.loader{
    border: 0 soild transparent;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: absolute;
    top: calc(50vh - 75px);
    left: calc(50vw - 75px);
}
.loader:before, .loader:after{
    content: '';
    border: 1em solid #ffffff;
    border-radius: 50%;
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    animation: loader 2s linear infinite;
    opacity: 0;
}
.loader:before{
    animation-delay: .5s;
}
@keyframes loader{
    0%{
        transform: scale(0);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        transform: scale(1);
        opacity: 0;
    }
}
/* preloader section -- end -- */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-image: linear-gradient(rgba(255, 94, 0, 0.404), rgba(0, 0, 255, 0.300),rgba(0, 255, 85, .400), rgba(255, 255, 0, 0.300));
}
main{
    width: 80%;
    height: 100%;
    /* height: 100vh; */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed !important;
    background:url("./images/background4.jpg");
}
section{
    display: flex;
    margin-top: 20px;
}
.uper-left{
    width: 20%;
    display: flex;
    padding-top: 5px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    /* background-color: azure; */
}
.picture{
    width: 150px;
    height: 180px;
    position: relative;
    /* background-color: red; */
}
img{
    width: 100%;
    height: 100%; 
    position: absolute;
    border-radius: 20px 20px 0px 0px;
}
section div abbr{
    display: inline;
    margin-top: 5px;
    text-decoration: none;
}
.detailsBtn{
    color: black;
    display: inline;
    padding: 2px 30px;
    transition: all .5s;
    background-color: wheat;
    border-radius: 0px 0px 15px 15px;
}
.detailsBtn:hover{
    color: white;
    background-color: black;
}
section div a {
    color: white;
    font-size: 19px;
    margin-top: 5px;
    font-weight: 600;
    text-decoration: none;
}
.uperRight{
    width: 80%;
    float: right;
    line-height: 22px;
    /* background-color: rgb(114, 102, 102); */
}
table{
    width: 80%;
    margin: 10px;
    border-radius: 20px;
    padding: 10px 50px 10px 15px;
    background-color: rgba(255, 255, 255, 0.774);
}
table tbody tr:nth-child(2) > td:nth-child(3){
    color: #000;
    font-size: 22px;
    font-weight: 700;
    word-spacing: 1px;
    letter-spacing: 1px;
    font-family: 'Delicious Handrawn', cursive !important;
}
table tbody td{
    font-size: 20px;
    font-weight: 500;
    font-family: 'Patrick Hand', cursive;
}
table tbody tr:nth-child(1) > td{
    font-size: 18px;
    font-weight:600;
    font-family: 'Atma', cursive;
}
table tbody tr > td:nth-child(3){
    padding-left: 5px;
}
/* social link grid section -- start -- */
.activeOn{
    top: 0;
    margin: 20px 0;
    color: white;
    padding: 20px 0;
    font-size: 30px;
    position: sticky;
    text-align: center;
    font-family: 'Russo One', sans-serif;
    background-color: rgba(104, 142, 151, 0.678);
}
.activeOn sup{
    margin-left: -5px;
    margin-top: -5px;
    font-size: 15px;
}
.activeOn sup i{
    border-radius: 50%;
    border: 1px solid rgb(107, 103, 103);
}
#container{
    gap: 60px;
    width: 94%;
    height: 100vh;
    display: grid;
    margin: 0 auto;
    margin-top: 65px;
    /* background-color: rgb(255, 255, 255); */
    grid-template-rows: 100px 100px 100px 100px;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr)) ;
    justify-content: center;
    justify-items: center;
    grid-auto-rows: 1fr;
}
#socialLink{
    background-color: #ffffff59;
}
#socialLink #container div a i{
    font-size: 97px;
    transition: all 0.2s;
    
}
#socialLink #container div a i:hover{
    font-size: 100px;
}
        /* .div1{}
        .div2{}
        .div3{}
        .div4{}
        .div5{}
        .div6{}
        .div7{}
        .div8{}
        .div9{}
        .div10{}
        .div11{}
        .div12{}
        .div13{}
        .div14{}
        .div15{}
        .div16{} */
/* social link grid section -- end -- */
/* footer section -- start -- */
footer div{
    padding: 10px;
    background-color: #000;
}
footer div h3{
    color: whitesmoke;
    text-align: center;
    font-weight: 500;
    word-spacing: 3px;
    letter-spacing: 1px;
}
/* footer section -- end -- */
@media screen and (max-width: 1080px){
    .uper-left {
        width: 40%;
        padding-top: 0px;
    }
    .uperRight{
        width: 100%;
    }
    table{ 
        margin-left: 10px;
        padding: 15px 55px 15px 20px;
    }
}
@media screen and (max-width: 978px){
    .uper-left {
        width: 40%;
        padding-top: 0px;
    }
    .uperRight{
        width: 100%;
    }
    table{ 
        margin-left: 10px;
        padding: 15px 55px 15px 20px;
    }
}
